html {
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: auto;
    height: 400px;
}

button {
    flex: 1;
    font-size: xx-large;
}